body{background-color: #000000d3;}
/*INICIO DEL HEADER*/
.centro{
  text-align: center;
}
.notificiacion{
  width: 1500px;
  height: 115px;
  background-color: #101010;
  border-radius: 5px;
  color: aliceblue;
}
.logo{
    width:90px ;
    height: 100px;
}
.notificiacion{
  line-height: 7em ;
}
h1,label,th,td,li{
  color: #ffffff;
}
.notificiacion img{
  float: left;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 4%;
}

.notificiacion h1,h2{
    color: #09c332;  
}
/*FIN DEL HEADER*/

/* Muestra de para almacenar informacion*/
.registro{
    width: 500px;
    height: 300px;
  
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
}
legend h1{ 
    color: #ffffff;
    line-height: 0em;
    text-align: center;
    
}

/* Muestra donde se muestra la informacion*/
.conceptos-derecha{  width: 900px;
    height: 400px;
    border-radius: 5px;
    color: aliceblue;
    float: right;
    margin-right: 5%;
    margin-top: -19%;
   

}
.fondo{
    background-color: #101010;
    margin-top: 1%;
}
 .info{
color: #ffffff;
margin-left: 23%;
margin-top: -35%;
 }
 .info2{
  color: #ffffff;
margin-left: 25%;
margin-top: 1%;
 }